
body{
	
	margin-bottom: 7em;
	font-family: roboto medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(../img/World-Map_claro_p.svg);
	background-repeat: inherit;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

#loader{
	margin-top: 0;/*1em;*/
	
	/*min-height:562px;*/
}
.breadcrumb{
	margin-top: -1.5em !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.brtbars{
	padding:0.7em;
}

.brtfooter{
	text-align: center;
}

.DetalhesItem .EditarItem, .ExcluirItem{
	transition: all .25s;	
}

.DetalhesItem:hover{
	cursor:pointer;
	background: rgba(58,242,13,.50);
}

.EditarItem:hover{
	cursor:pointer;
	background: rgba(56,187,235,.50);
}

.ExcluirItem:hover{
	cursor:pointer;
	background:rgba(217,95,97,.50);
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.fundo-cor{
	color: black;
	padding: 10px;
	border-radius: 10px;
}

.fundo-cor:hover{
	background: #108742;
	transition: 0.7s;
	padding: 10px;
	color: white;
	border-radius: 10px;
}

.img-logo{
	margin-top: -10px;
}