
body{
	font-family: roboto medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#loader{
	background-image: url(../img/Untitled-1.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: inherit;
	background-position: center;
	margin-top: 1.5em;
	margin-bottom: 7em;
	min-height:562px;
}

.brtbars{
	padding:1.5em;
}

.brtfooter{
	text-align: center;
}

.DetalhesItem .EditarItem, .ExcluirItem{
	transition: all .25s;	
}

.DetalhesItem:hover{
	cursor:pointer;
	background: rgba(58,242,13,.50);
}

.EditarItem:hover{
	cursor:pointer;
	background: rgba(56,187,235,.50);
}

.ExcluirItem:hover{
	cursor:pointer;
	background:rgba(217,95,97,.50);
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.fundo-cor{
	color: black;
	padding: 10px;
	border-radius: 10px;
}

.fundo-cor:hover{
	background: #108742;
	transition: 0.7s;
	padding: 10px;
	color: white;
	border-radius: 10px;
}

.img-logo{
	margin-top: -10px;
}